@import './variables';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $font-color-main;
  margin: 0;
  padding: 0;
  background-color: $app-background-color;
}
